@using Microsoft.AspNetCore.Http;
@{
    var username = Context.Session.GetString("UserName");
}

<div class="wrapper">
    <div class="stars-background">
        <div class="filter-black"></div>
    </div>
    <div class="profile-content section-nude">
        <div class="container">
            <div class="owner">
                <div class="Equipment Schedule">
                    <h4>UserName: @username<br /></h4>
                </div>

                <div id="app_user_equipments">
                    <h5>User Equipment Details<br /></h5>

                    <ul>
                        <li>
                            # If low_dec < 0, the observable declination range is +90 ~ low_dec.
                        </li>
                        <li>
                            # If low_dec > 0, the observable declination range is low_dec ~ -90.
                        </li>
                    </ul>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Equipment Details<br /></h5>
                        </div>
                        <div class="col-md-6 text-right">
                            <button v-on:click="Compute()" class="btn btn-fill">Compute Declination</button>
                            <button v-on:click="Add()" class="btn btn-fill btn-success text">Add New Equipment</button>
                        </div>
                    </div>
                    <hr />
                    <template v-for="item in equipments">
                        <a data-toggle="collapse" :href="'#collapseExample-'+item.eid" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <div class="row">
                                <div class="col-md-9 col-xs-8">
                                    <h3>{{item.site}}</h3>
                                </div>
                                <div class="col-md-3 col-xs-4">
                                    <button v-on:click="Edit(item.eid)" class="btn btn-fill btn-info btn-sm" style="margin-top:30px; margin-bottom:3px">Edit</button>
                                </div>
                            </div>
                            <div class="row">
                                <span class="label label-default">Longtitude</span>
                                <small>{{item.longitude}}</small>
                                <span class="label label-default">Latitude</span>
                                <small>{{item.latitude}}</small>
                                <span class="label label-default">Altitude</span>
                                <small>{{item.altitude}}</small>
                                <span class="label label-default">Declination Limit</span>
                                <small>{{item.altitude}}</small>
                            </div>
                        </a>
                        <div class="collapse" :id="'collapseExample-'+item.eid">
                            <div class="card card-body">
                                <hr />
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6>Time_zone: {{item.timeZone}}</h6>
                                        <h6>Daylight_saving: {{item.daylightSaving}}</h6>
                                        <h6>Water_vapor: {{item.waterVapor}}</h6>
                                        <h6>Water_vapor: {{item.waterVapor}}</h6>
                                        <h6>Light_pollution(m/sas): {{item.waterVapor}}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <h6>
                                            Aperture: {{item.aperture}}
                                        </h6>
                                        <h6>FoV: {{item.foV}}</h6>
                                        <h6>Pixel scale ("/pix): {{item.pixelScale}}</h6>
                                        <h6>Tracking accuracy: {{item.trackingAccuracy}}</h6>

                                        <h6>Limiting magnitude (mag): {{item.limitingMagnitude}}</h6>
                                        <h6>Elevation limit (deg): {{item.elevationLimit}}</h6>
                                        <h6>Mount type (german, fork, h6eodolite): {{item.mountType}}</h6>

                                        <h6>Camera type (colored, mono): {{item.cameraType_1}}</h6>
                                        <h6>Camera type (cooled, uncooled): {{item.cameraType_2}}</h6>
                                    </div>
                                    <div>
                                        <h6>Johnson B: {{item.johnson_B}}</h6>
                                        <h6>Johnson V: {{item.johnson_V}}</h6>
                                        <h6>Johnson R: {{item.johnson_R}}</h6>

                                        <h6>SDSS u: {{item.sdsS_u}}</h6>
                                        <h6>SDSS g: {{item.sdsS_g}}</h6>
                                        <h6>SDSS r: {{item.sdsS_r}}</h6>
                                        <h6>SDSS i: {{item.sdsS_i}}</h6>
                                        <h6>SDSS z: {{item.sdsS_z}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </template>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    fetch('@Url.Action("GetUserEquipments", "UserEquipments")')
        .then(function (response) {
            response.json().then(function (data) {
                app_user_equipments._data.equipments = data;
                console.log(app_user_equipments._data.equipments);
            });
        });

    var app_user_equipments = new Vue({
        el: '#app_user_equipments',
        data: {
            equipments: null,
        },
        methods: {
            Compute: function () {
                console.log("in join");
                location.href = '@Url.Action("Compute", "UserEquipments")';
            },
            Add: function () {
                console.log("add new equipment");
                location.href = '@Url.Action("Add", "UserEquipments")';
            },
            Edit: function (eid) {
                console.log("edit: ", eid);
                location.href = '@Url.Action("Edit", "UserEquipments", new { eid = "EID" })'.replace("EID", eid);
            }
        }
    });
</script>