@using Final_Project.Models
@model Final_Project.Models.Project
@using Microsoft.AspNetCore.Http;
@{
    var uid = Context.Session.GetString("UID");
}

<div class="wrapper">
    <div class="project-background">
        <div class="filter-black"></div>
    </div>
    <div class="profile-content section-nude">
        <div class="container">
            <div class="row owner">
                <!--<div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 text-left">-->
                <div class="Equipment Schedule">
                    <h4 style="display:inline-block;">Project Details<br /></h4>
                    <span style="float: right;margin: 30px 0 15px;">
                        <button style="margin-right:10px;" onclick="Join()" class="btn">Join</button>
                        <button style="margin-right:10px;" onclick="InterestAllTargets()" class="btn btn-danger">Interested in All Targets</button>
                        @{
                            if (uid == Model.PI)
                            {
                                <button onclick="Edit()" class="btn btn-info">Edit</button>
                            }
                        }
                    </span>
                </div>
                <!--</div>-->
                <!--<div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 text-left">-->

                
                <div id="app_projects">
                    <h5>Project Manager</h5>

                    <h6>Name: {{manager.name}}</h6>
                    <h6>Email: {{manager.email}}</h6>
                    <h6>Country: {{manager.country}}</h6>
                    <h6>Title: {{manager.title}}</h6>
                    <h6>Affiliation: {{manager.affiliation}}</h6>
                    <br />
                    <div style="overflow-x:auto;">
                        <table class="table2">
                            <tr>
                                <th>PID</th>
                                <th>Title</th>
                                <th>Project_Type</th>
                                <th>PI</th>
                                <th>Description</th>
                                <th>Aperture_upper_limit</th>
                                <th>Aperture_lower_limit</th>
                                <th>FoV_upper_limit</th>
                                <th>FoV_lower_limmit</th>
                                <th>Pixel_scale_upper_limit_(/pix)</th>
                                <th>Pixel_scale_lower_limit_(/pix)</th>
                                <th>Mount type (german, fork, theodolite)</th>
                                <th>Camera type (colored, mono)</th>
                                <th>Camera type (cooled, uncooled)	</th>
                                <th>Johnson B</th>
                                <th>Johnson V</th>
                                <th>Johnson R</th>
                                <th>SDSS u</th>
                                <th>SDSS g</th>
                                <th>SDSS r</th>
                                <th>SDSS i</th>
                                <th>SDSS z</th>
                            </tr>
                            <tr>
                                <td>@Model.PID</td>
                                <td>@Model.Title</td>
                                <td>@Model.Project_type</td>
                                <td>@Model.PI</td>
                                <td>@Model.Description</td>

                                <td>@Model.ApertureUpperLimit</td>
                                <td>@Model.ApertureLowerLimit</td>

                                <td>@Model.FoVUpperLimit</td>
                                <td>@Model.FoVLowerLimit</td>

                                <td>@Model.PixelScaleUpperLimit</td>
                                <td>@Model.PixelScaleLowerLimit</td>
                                <td>@Model.MountType</td>
                                <td>@Model.CameraType_1</td>
                                <td>@Model.CameraType_2</td>

                                <td>@Model.Johnson_B</td>
                                <td>@Model.Johnson_V</td>
                                <td>@Model.Johnson_R</td>

                                <td>@Model.SDSS_u</td>
                                <td>@Model.SDSS_g</td>
                                <td>@Model.SDSS_r</td>
                                <td>@Model.SDSS_i</td>
                                <td>@Model.SDSS_z</td>
                            </tr>
                        </table>
                    </div>
                    <h4>Project Targets</h4>
                    <div style="overflow-x:auto;">
                        <table class="table2">
                            <tr class="d-flex">
                                <th style="width:20px!important;">TID</th>
                                <th>Name</th>
                                <th>RA</th>
                                <th>Dec</th>
                                <th>Comptability<br />Score</th>
                                <th>Interest</th>
                            </tr>
                            <tr v-for="target in targets" :key="target.tid">
                                <td style="width:20px!important;">{{target.tid}}</td>
                                <td>{{target.name}}</td>
                                <td class="text-right number">{{target.ra}}</td>
                                <td class="text-right number">{{target.dec}}</td>
                                <td class="text-right number">{{target.score}}</td>
                                <td>
                                    <button v-on:click="InterestTarget(target.tid)" class="btn btn-success">Interested</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer-demo section-nude">
    <div class="container">
        <div class="copyright text-center">
            &copy; 2020 - Final_Project
        </div>
    </div>
</footer>

<script>
    fetch('@Html.Raw(Url.Action("GetProjectTargets", "Projects", new { pid = Model.PID, uid = uid}))')
        .then(function (response) {
            response.json().then(function (data) {
                app_projects._data.targets = data;
                console.log(app_projects._data.targets);
            });
        });
    
    fetch('@Html.Raw(Url.Action("GetProjectManager", "User", new { uid = Model.PI }))')
        .then(function (response) {
            response.json().then(function (data) {
                app_projects._data.manager = data;
                console.log(app_projects._data.manager);
            });
        });

    var app_projects = new Vue({
        el: '#app_projects',
        data: {
            targets: null,
            manager: null
        },
        methods: {
            InterestTarget: function (tid) {
                console.log(tid);
                location.href = '@Html.Raw(Url.Action("InterestTarget", "Projects", new { pid = Model.PID, tid = "TID" }))'.replace("TID", tid);
            }
        }
    });

    function Join() {
        console.log("in join");
        location.href = '@Url.Action("Join", "Projects", new { pid = Model.PID})';
    }

    function Edit() {
        console.log("in edit");
        location.href = '@Url.Action("Edit", "Projects", new { pid = Model.PID })';
    }

    function InterestAllTargets() {
        console.log("in all targets");
        location.href = '@Url.Action("InterestAllTargets", "Projects", new { pid = Model.PID })';
    }
</script>